@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    font-family: Open Sans;
    font-style: normal;
    font-size: 16px;
}

.wrapper {
    display: flex;
    min-height: 100%;
    overflow: hidden;
    flex-direction: column;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

// Глобальные св-ва для TITLE
.title {
    font-family: 'Aclonica', sans-serif;
    font-size: 36px;
    line-height: 48px;
    /* or 133% */
    text-transform: uppercase;
    position: relative;

    &::before {
        content: "";
        display: block;
        position: absolute;
        width: 5%;

        border-bottom: 3px solid #E8C300;
    }

}

// Глобальные св-ва для SUBTITLE
.subtitle {
    font-family: Open Sans;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
}

.text {
    line-height: 28px;
}

// header Рената    

.header {
    background-image: url("../imgs/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: #fff;

    &__top {
        padding-top: 50px;

        .menu {
            &__list {
                display: flex;
                justify-content: space-evenly;

                &-link {
                    color: #fff;
                    text-decoration: none;

                    position: relative;
                    text-decoration: none;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    text-transform: uppercase;


                    &:after {
                        display: block;
                        position: absolute;
                        left: 0;
                        width: 0;
                        height: 2px;
                        background-color: #E8C300;
                        content: "";
                        transition: width 0.3s ease-out;
                    }

                    &:hover:after,
                    &:focus:after {
                        width: 100%;
                    }
                }
            }
        }
    }

    &__body {
        text-align: center;


        &__title {
            text-transform: uppercase;
            font-size: 96px;
            line-height: 100px;

            span {
                font-family: Open Sans;
                font-size: 12px;
                line-height: 30px;
                letter-spacing: 0.5em;
            }
        }

        &__buttons {

            .buttons {
                width: 200px;
                height: 60px;
                cursor: pointer;
                border: 1px solid rgba(255, 255, 255, 0.5);
                background-color: transparent;
                border-radius: 5px;
                color: #fff;
                transition: all .2s ease;
                outline: none;

                &:hover {
                    background-color: #E8C300;
                    border-color: #E8C300;
                }

                &:first-of-type {
                    margin-right: 40px;
                }
            }

        }
    }
}



main {
    margin: 0 0;
}

// Section Катюши
.about {
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__us {
        width: 50%;
        line-height: 28px;
        font-size: 18px;

        &-title {
            font-size: 36px;
            line-height: 1;
            text-transform: uppercase;
            margin-bottom: 15px;
        }

        &-subtitle {
            font-weight: bold;
            font-size: 18px;
            margin: 15px;
        }
    }

    &-img {
        position: relative;
        // width: 40%;

        // &::before {
        //     content: "";
        //     background-image: url("../imgs/about-img.png");
        //     background-repeat: no-repeat;
        //     background-position: right;
        //     display: block;
        //     position: absolute;
        //     // right: 100px;
        //     top: 0;
        //     left: 0;
        //     bottom: 0;
        // }
    }
}



// Section Димусика
// form
.book__table {
    margin-bottom: 80px;

    .contain {

        &__inner {
            display: flex;
            justify-content: space-between;

            .register {
                width: 50%;
                text-align: center;
                padding-top: 131px;

                &-title {
                    margin-bottom: 20px;
                }

                .form {
                    display: flex;
                    flex-wrap: wrap;

                    &-item {
                        padding: 15px;
                        border-radius: 5px;
                        outline: none;
                        background: #E5E5E5;
                        border: none;
                        margin-bottom: 10px;
                    }

                    input[type=text],
                    input[type=email],
                    input[type=tel],
                    select {
                        width: 47.9%;
                    }

                    input::-webkit-input-placeholder {
                        color: rgba(51, 51, 51, 0.5);
                    }

                    select {

                        color: rgba(51, 51, 51, 0.5);

                    }

                    input[type=submit] {
                        width: 97.9%;
                        padding: 15px;
                        background: #E8C300;
                        border: none;
                        color: #fff;
                        outline: none;
                        cursor: pointer;
                        transition: .2s ease-out;
                        text-transform: uppercase;
                    }

                    input[type=submit]:hover {
                        background: rgb(211, 175, 16);
                    }
                }


            }


        }


        &__bottom {
            margin-top: 15px;
            text-align: center;
            font-weight: normal;
            font-size: 12px;
            line-height: 12px;
            color: rgba(51, 51, 51, 0.5);

            span {
                font-weight: 700;

            }

            &-link {
                color: rgba(51, 51, 51, 0.5);
                text-decoration: none;
            }
        }
    }
}

// specialities
.specialties {
    margin-bottom: 80px;
    background-image: url(../imgs/specialties-bg.jpg);
    background-size: cover;
    background-position: center;

    &__title {
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.5em;
        text-transform: uppercase;
        color: #FFF;
        text-align: center;
        padding: 30px 0;
    }

    &__inner {
        display: flex;
        justify-content: space-between;

        .photo {
            padding-bottom: 60px;
            margin-right: 80px;
        }

        .about__pancakes {
            padding-top: 177px;
            text-align: center;

            &__title {
                color: #fff;

            }

            &__subtitle {
                padding-top: 15px;
                padding-bottom: 15px;
                color: rgba(255, 255, 255, 0.9);
                line-height: 28px;
            }

            &__text {
                color: rgba(255, 255, 255, 0.8);
            }
        }

    }
}